@media screen and (max-width:739px) {
    .select-container {
        display: none !important;
    }

    #main-body {
        margin-left: 1% !important;
    }

    .search-input {
        width: 200px !important;
    }

    #menu-top-mobile {
        display: block !important;
        margin-left: 2%;
        z-index: 1;
    }

    #logo {
        display: none !important;
    }

    .cf-title-07 {
        display: none !important;
    }

    .course-item {
        width: 100% !important;
    }

    .course-item .item-hover {
        height: 200px !important;
    }

    .course-item img {
        height: 200px !important;
    }

    .footer-item-detail {
        display: none !important;
    }

    .tl-mode {
        display: block !important;
        width: 100% !important;
    }

    .user-check {
        display: none !important;
    }
}