@media screen and (max-width:1023px) and (min-width:740px) {
    .select-container {
        display: none !important;
    }

    #main-body {
        margin-left: 1% !important;
    }

    .search-input {
        width: 200px !important;
    }

    #menu-top-mobile {
        display: block !important;
        margin-left: 2%;
        z-index: 1;
    }

    #logo {
        display: none !important;
    }

    .cf-title-07 {
        display: none !important;
    }

    .course-item {
        width: 50% !important;
    }
    .footer-item-detail {
        display: none !important;
    }
    .tl-mode{
        display: block !important;
        width: 50% !important;
    }
}


@media screen and (max-width:1370px) and (min-width:1023px) {
    .course-item {
        width: 33.33% !important;
    }
}